:root {
  /* --bg: linear-gradient(155deg, #FFE500 0%, rgba(250, 185, 20, 0.72) 100%); */
  --bg1: linear-gradient(
    109.6deg,
    rgb(255, 219, 47) 11.2%,
    rgb(244, 253, 0) 100.2%
  );
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("/bio-link/cover.png"); */
  background: var(--bg1);
  font-family: "Roboto", sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  /* background-color: crimson; */
}

header {
  background-image: url("/assets/bg.png");
  /* display: block; */
  /* background-repeat: no-repeat; */
  display: flex;
  background-color: blue;
  width: 100%;
  justify-content: center;
  height: 160px;
}

.brand {
  /* background-color: red; */
  text-align: center;
}

.avatar {
  position: relative;
  top: 50%;
  border: 2px solid #030b1a;
  /* #0067d6 */
  border-radius: 50%;
  box-shadow:
    9px 9px 18px #908c0d,
    -9px -9px 18px #f0ea15;
  /* box-shadow: */
  /*   21px 21px 36px #908c0d, */
  /*   -21px -21px 36px #f0ea15; */
  /* top: 100px; */
  /* left: 100px; */
  /* top: 50%; */
  /* margin-top: 50%; */
}

.title {
  position: relative;
  top: 55%;
  /* left: 120px; */
}
.tagline {
  position: relative;
  top: 55%;
}

main {
  margin-top: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* background-color: yellowgreen; */
  /* max-width: 450px;  */
}

.banner {
  /* background-color: #030b1a; */
  text-align: center;
  height: 235px;
  /* width: 100%; */
  max-width: 450px;
}

.banner > img {
  width: 100%;
}

.wrap-link:hover {
  /* background-color: #c4c4c4; */
  background-color: #030b1a;
  color: white;
}

/* a: hover { */
/*   background-color: #c4c4c4; */
/* } */
.wrap-link {
  text-decoration: none;
  margin: 0 40px;
  display: flex;
  background-color: #c4c4c4;
  /* background-color: #030b1a; */
  color: black;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  width: 60%;
  padding: 15px 25px;
  border-radius: 35px;
  box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.56);
}

.wrap-link > img {
  width: 36px;
}

/* .wraper {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
/* align-items: center; */
/* width: 100vw; 
} */
/* .header-text {
  background-color: rgba(216, 216, 216, 0.808);
  margin: 30px;
  border-radius: 15px;
  padding: 10px 0;
  font-weight: bold;
}

.the-header {
  position: relative;
  padding: 100px 20px;
}

.header-background {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -100;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile-picture {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
} */
